.main-container{
    margin: 100px auto;
    padding: 0;
    line-height: 2em;
}
.hidden{
    display: none;
}
.content-step{
    padding: 50px 0;
}
.red{
    text-align: left;
    color: red;
    font-weight: bold;
    margin: 10px 0;
}
.right{
    float: right;
}
.left{
    float: left;
}
.bold{
    font-weight: bold; 
}
.bolder{
    font-weight: bolder;
    margin: 10px 0;
}
.box{
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
    margin: 20px 0;
}
.table{
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}
.table th, .table td{
    text-align: center;
}